@model EarthMarket.Presentation.Models.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
@using (Html.BeginForm("Register", "Authentication"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        <label>User Name:</label>
        @Html.TextBoxFor(rvm => rvm.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Email:</label>ssss
        @Html.TextBoxFor(rvm => rvm.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Password:</label>
        @Html.TextBoxFor(rvm => rvm.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Confirm Password:</label>
        @Html.TextBoxFor(rvm => rvm.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Roles:</label>
        @if (Model.Roles != null && Model.Roles.Count() > 0)
        {
        <table>
         
            @foreach (var role in Model.Roles)
            {

            <tr>
                
                <td>@role</td>
                <td>
                    <input type="checkbox" name="rolesChecked" value="@role" />
                </td>
               
            </tr>

            }
        </table>
                    }


            </div>
    <div class="form-group">
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input class="btn-primary" type="submit" value="Register" />
    </div>
    


}

