@model EarthMarket.Presentation.Models.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetProduct</h2>

<div>
    <strong>@Model.Name</strong>
    <div>@Model.ProductCountSold</div>
    <div>@foreach (var category in Model.Categories)
    {
        <div class="text-success">@category</div>
    }
   </div>
</div>
    <div><h3>Product Variants</h3>
        @foreach(var productVariant in Model.ProductVariants)
        {
         <div class="bg-light">
             <h5 class="text-success">Product Variant</h5>
             @foreach (var productVariantAttributeValue in productVariant.ProductVariantAttributeValues)
             {
                 <div>@productVariantAttributeValue.Key - @productVariantAttributeValue.Value</div>

             }
             @using (Html.BeginForm("AddToCart", "Cart"))
             {
             @Html.Hidden("productVariantKey", productVariant.Key)
             @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
             <input class="btn-primary" type="submit" value="Add to Cart" />
             }

         </div>
             }
    </div>

