@model EarthMarket.Presentation.Models.ViewModels.CartIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Hi @Model.Cart.User.Name,</h3>
<h2>Your Cart :-</h2>
<table id="cart" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cartProductVariant in Model.Cart.CartProductVariants)
        {

            @Html.Action("GetCartIndexProductCard", "Cart", new { cartProductVariant = cartProductVariant, returnUrl = Model.ReturnUrl })

        }

    </tbody>
    <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total @Model.Cart.ComputeTotalPrice().ToString("c")</strong></td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-warning" href="@Model.ReturnUrl"><i class="fa fa-angle-left"></i>Continue shopping</a>
            </td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total @Model.Cart.ComputeTotalPrice().ToString("c")</strong></td>
            <td>
                @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-success btn-block" })

            </td>
        </tr>
    </tfoot>
</table>


