@model EarthMarket.Presentation.Models.ViewModels.CartIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h1>@Model.Cart.Key</h1>Cart for User - <h3>@Model.Cart.User.Name</h3>
<h2>Total price - @Model.Cart.ComputeTotalPrice()</h2>
<h4>Products are :-</h4>
@foreach (var cartProductVariant in Model.Cart.CartProductVariants)
{
    <div>
        <span>[@cartProductVariant.Key - @cartProductVariant.ProductVariantCount] ==> @cartProductVariant.ProductVariant.ProductVariantPrice</span>
    </div>
    <div>
        @using (Html.BeginForm("RemoveFromCart", "Cart"))
        {
            @Html.Hidden("productVariantKey", cartProductVariant.ProductVariant.Key)
            @Html.HiddenFor(x => x.ReturnUrl)
            <input class="btn btn-sm btn-warning"
                   type="submit" value="Remove From Cart" />
        }
    </div>
   
}

    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
        @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
    </div>

