@*@model EarthMarket.Presentation.Models.ViewModels.CartSummaryViewModel

<h2>Summary</h2>

<div class="navbar-right">
    @Html.ActionLink("Checkout", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
</div>
<div class="navbar-text navbar-right">
    <b>Hi @Model.Cart.User.Name, Your cart:</b>

    @foreach (var cartProductVariant in Model.Cart.CartProductVariants)
    {
        <span>[@cartProductVariant.Key - @cartProductVariant.ProductVariantCount] ==> @cartProductVariant.ProductVariant.ProductVariantPrice</span>

    }
    <h1>Total Price - @Model.Cart.ComputeTotalPrice()</h1>
</div>*@